.createButton{
    -fx-background-color: mediumseagreen;
    -fx-text-fill: white;
    -fx-font-family: "Avenir Next";
    -fx-background-radius: 10;
}

.logoutButton{
    -fx-background-color: Cornflowerblue;
    -fx-text-fill: white;
    -fx-border-color: skyblue;
    -fx-font-family: "Avenir Next";
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.albumsLabel{
    -fx-text-fill: black;
    -fx-font-family: "Avenir";
    -fx-font-size: 32px;
}

.searchButton{
    -fx-background-color: #f2f2f2;
    -fx-font-family: "Avenir Next";
    -fx-border-color: mediumSpringGreen;
    -fx-border-width: 2;

}

.secondaryButton1{
    -fx-background-color: lightSalmon;
    -fx-text-fill: white;
    -fx-font-family: "Avenir Next";
    -fx-background-radius: 10;
}

.secondaryButton2{
    -fx-background-color: mediumslateBlue;
    -fx-text-fill: white;
    -fx-font-family: "Avenir Next";
    -fx-background-radius: 10;
}

.backButton{
    -fx-background-color: skyBlue;
    -fx-text-fill: white;
    -fx-font-family: "Avenir Next";
    -fx-background-radius: 10;
}

.deleteButton{
    -fx-background-color: orangeRed;
    -fx-text-fill: white;
    -fx-font-family: "Avenir Next";
    -fx-background-radius: 10;
}

.text-field{
    -fx-text-alignment: left;
    -fx-font-family: Avenir;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-border-color: mediumSpringGreen;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.dateLabel{
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-font-family: "Droid Sans Mono Slashed";
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.displayLabel{
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-font-family: "Droid Sans Mono Dotted";
    -fx-font-size: 30px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.noheader .column-header-background{
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.custom-align {
    -fx-alignment: center;
}